// Colors

$primary-color: #fa7b2a;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #2687e0;

$success-color: #23e84e;
$error-color: #ec0b3a;
$link-color: #054654;

// Typo

@font-face {
    font-family: 'Rancho';
    font-style: normal;
    font-weight: 400;
    src: local('Rancho Regular'), local('Rancho-Regular'), url(https://fonts.gstatic.com/s/rancho/v9/46kulbzmXjLaqZRVam_h.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
    outline: 0;
    color: $secondary-color;
}

h1,
h2 {
    font-family: 'Rancho', sans-serif;
}

h1 {
    font-size: 6rem;
    line-height: 5.4rem;
}

h2 {
    line-height: 5rem !important;
    padding-top: 25px !important;
}

h2 {
    font-size: 4.4rem;
    line-height: 95px;
}

input::-moz-focus-inner {
    border: 0;
}

// Application wide rules

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b1b1b1' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

strong {
    font-weight: bold;
}

.primary {
    background-color: $primary-color;
}

.primary-text {
    color: $primary-color;
}

.secondary-text {
    color: $secondary-color;
}

.g-recaptcha {
    transform-origin: 0 0;
    transform: scale(0.85);
}

.brand-logo img {
    max-height: 65px;
    width: auto;
    transition: all 0.2s ease;
}

.brand-logo img:hover {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
    transform: scale(1.05);
}

.brand-logo h1 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

.secondary {
    background-color: $secondary-color;
}

em a {
    transition: all 0.1s ease;
}

em a:hover {
    text-decoration: underline;
    color: lighten($link-color, 10%);
}

textarea,
input {
    color: rgb(60, 60, 60);
}

footer input {
    color: white;
}

footer textarea {
    color: white;
}

.input-field {
    &>label {
        color: white,
    }
}


.card {
    border-radius: 5px;
}

nav {
    background-color: $primary-color;
}

nav::after {
    content: "";
    display: block;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url("/navbar-furry.png") center center;
    z-index: 500;
}

@media only screen and (max-width: 601px) {

    nav::after {
        top: 56px;
    }

}

footer a {
    color: white;
}

// Return to top

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 500;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 2.5px;
    top: 2px;
    font-size: 3rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: -7px;
}

.scroll-to {
    display: block;
    position: absolute;
    z-index: 900;
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    bottom: -25px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

.scroll-to i {
    line-height: 35px;
    font-size: 3rem;
    transition: all 0.5s ease;
}

.scroll-to i:hover {
    transform: translateY(8px);
}

.card-title {
    margin-bottom: 0;
}

hr {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

.mb-0 {
    margin-bottom: 0;
}

.btn {
    background-color: $secondary-color;
}

.page-footer {
    background-color: $primary-color;
}

// Home page

.slider .indicators {
    bottom: 75px;
    z-index: 100;
    visibility: hidden;
    /* text-align: left; */
}

#home-slider {
    height: calc(100vh - 64px) !important;
}

#home-slider .slides {
    height: calc(100vh - 64px) !important;
}



#prestations::before {
    content: "";
    display: block;
    background-color: $primary-color;
    position: absolute;
    height: 350px;
    width: 100%;
    left: 0;
    z-index: -1;
}

.presta {
    margin-top: 75px;
}

// Article page

#article-slider {
    height: 50vh !important;
}

#article-slider .slides {
    height: 50vh !important;
}

#article-slider .indicators {
    display: none;
}

// Admins

.mt {
    margin-top: 11px;
}

article img {
    max-width: 100%;
    border-radius: 2px;
}

article li {
    list-style-type: disc !important;
    margin-left: 15%;
}

article h1 {
    color: $primary-color;
    font-weight: bold;
}

article h2 {
    font-size: 3em;
    line-height: 3rem !important;
}

article h2::after {
    content: "";
    border-top: 2px solid;
    border-color: $primary-color;
    display: block;
    height: 1px;
    width: 75px;
    margin: 13px 0 0 0;
}

article strong {
    color: $secondary-color;
}

article em {
    color: $secondary-color;
}

.breadcrumbs {
    position: absolute;
    display: flex;
    z-index: 4;
    color: white;
    font-weight: bold;
    margin: 50px 25px;
    font-size: 1.2rem;
}

.breadcrumbs li:nth-child(2):before {
    content: ">";
    margin: 0 10px;
}

.breadcrumbs a {
    color: $primary-color;
    transition: all 0.2s ease;
}

.breadcrumbs a:hover {
    color: white;
}

.promo {
    border: 2px solid $primary-color;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
}

.promo i {
    font-size: 7rem;
    color: $primary-color;
    margin: auto;
    line-height: 92px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

#welcome-screen {
    background-color: $primary-color;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    top: 0;
}

#welcome-screen svg {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    max-width: 35vw;
    height: auto;
    min-width: 250px;
    z-index: 1500;
}

.welcome-text {
    text-align: center;
    display: block;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    font-weight: bold;
    font-size: 3.5rem;
}

.progress {
    position: absolute;
    bottom: 25%;
}

#elsa,
#moussig,
#osha,
#nalamuf,
#toumou,
#bob,
#poulette {}

#elsa {}

#moussig {}

#osha {}

#nalamuf {}

#toumou {}

#bob {}

#poulette {}

.panel-image img {
    display: block;
    position: relative;
    margin: 0 auto;
    height: auto;
    width: 100% !important;
    max-width: 240px;
    max-height: 240px;
    z-index: -1;
    transform: scale(1.02);
}

.depth-container canvas {
    position: relative;
    height: 250px;
    width: 250px;
    box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.depth-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    overflow: hidden;
}

.depth-shadow {
    position: absolute;
    width: 240px;
    height: 240px;
    box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.7);
    z-index: 2;
    border-radius: 50%;
}

.shadow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    width: 85% !important;
    border-radius: 50%;
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    overflow: hidden;
    box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.7);
}

.carousel-item {
    overflow: hidden;
}

.full {
    padding: 0 !important;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: black;
}

.fill {
    height: 100%;
    padding-bottom: 50px !important;
}

.carousel {
    height: 450px;
}

.carousel-item h2 {
    font-size: 3rem !important;
    margin-top: 0;
}


// Services

#go-to-contact {
    z-index: 3;
}

#walks,
#home,
#taxi {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

#home {
    flex-wrap: wrap-reverse;
}

#walks .card,
#home .card,
#taxi .card {
    height: auto;
}

#walks h2,
#home h2,
#taxi h2 {
    word-wrap: break-word;
}

.small-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    margin: 15px auto;
}

.small-img-row img {
    height: auto;
    width: 50px;
}

.parallax-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-container .row {
    width: 100%;
}

.fixed-rounded {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 175px 440px 0 120px;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    transform: translate(50%, 50%);
    background-color: rgba($primary-color, 0.95);
}

.light-primary {
    background-color: lighten($primary-color, 10%);
}