<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Tiki médiation animale</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="title" content="Tiki médiation animale">
    <meta name="description" content="Médiation par l'animal à Rennes et alentours.">
    <meta name="keywords"
        content="médiation animale, zoothérapie, thérapie, chien, tiki services, anxiété, angoisse, dépression, maladie mentale, rennes">
    <meta name="robots" content="index, follow">
    <meta name="language" content="French">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tiki-mediation-animales.fr/" />
    <meta property="og:title" content="Tiki Médiation animale" />
    <meta property="og:description" content="Médiation par l'animal à Rennes et alentours" />
    <meta property="og:image" content="https://tiki-mediation-animale.fr/tiki-mediation-logo.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://tiki-mediation-animales.fr/" />
    <meta property="twitter:title" content="Tiki Médiation animale" />
    <meta property="twitter:description" content="Médiation par l'animal à Rennes et alentours" />
    <meta property="twitter:image" content="https://tiki-mediation-animale.fr/tiki-mediation-logo.webp" />

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Tiki - Médiation par l'animal",
      "image": "https://tiki-mediation-animale.fr/favicon-32x32.png",
      "logo": "https://tiki-mediation-animale.fr/tiki-mediation-logo.webp",
      "description": "Médiation par l'animal à Rennes et alentours.",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Rennes",
        "postalCode": "35000",
        "addressCountry": "FR"
      },
      "telephone": "+33 6 95 02 20 55",
      "email": "contact@tikiservices.fr",
      "url": "https://tiki-mediation-animale.fr",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "19:00"
        }
      ]
    }
  </script>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i
                            class="material-icons">menu</i></a>
                    <a class="brand-logo" href="/">
                        <h1>
                            <img alt="Tiki logo" src="/tiki_logo.png">
                        </h1>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/services">Prestations</a></li>
                        <li><a href="/articles">Articles</a></li>
                        <li><a href="https://www.instagram.com/tikiservices/" target="_blank">Vos loulous</a></li>
                        <li><a href="/about">Qui suis-je ?</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav hide-on-large-only">
            <li>
                <div class="user-view">
                    <a class="brand-logo" href="/">
                        <img alt="Tiki logo" src="/tiki_logo.png">
                    </a>
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Navigation</a></li>
            <li><a class="waves-effect" href="/articles">
                    <i class="material-icons">description</i>
                    Article
                </a> </li>

            <li><a class="waves-effect" href="/services">
                    <i class="material-icons">pets</i>
                    Prestations
                </a> </li>

            <li><a class="waves-effect" href="https://www.instagram.com/tikiservices/" target="_blank">
                    <i class="material-icons">collections</i>
                    Vos loulous
                </a> </li>

            <li><a class="waves-effect" href="/about">
                    <i class="material-icons">face</i>
                    Qui suis-je ?
                </a> </li>

            <li><a class="sidenav-close waves-effect" href="#!">
                    <i class="material-icons">clear</i>
                    Fermer le menu
                </a> </li>
        </ul>


    </header>

    {% block content %} {% endblock %}

    <footer class="page-footer">
        <div class="container" id="contact">
            <div class="row">
                <div class="col l6 s12">

                    <h5 class="white-text">Contact</h5>
                    <p class="grey-text text-lighten-4">Téléphone : <a href="tel:+33695022055">+33 (0)6 95 02 20 55</a>
                    </p>
                    <p class="grey-text text-lighten-4">Pour une demande de <b>devis</b>, pensez à m'indiquer votre
                        <b>commune</b> de résidence.
                    </p>
                    <p class="grey-text text-lighten-4">Envoyez-nous un mail : <a
                            href="mailto:contact@tikiservices.fr">contact@tikiservices.fr</a></p>
                </div>

                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Plan du site</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">Accueil</a></li>
                        <li><a class="grey-text text-lighten-3" href="/services">Prestations</a></li>
                        <li><a class="grey-text text-lighten-3" href="/articles">Articles</a></li>
                        <li><a class="grey-text text-lighten-3" href="/about">Qui suis-je ?</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2019 - TiKi
                <a class="grey-text text-lighten-4 right" href="/legal-notice">Mentions légales</a>
            </div>
        </div>
    </footer>
    <a href="javascript:" id="return-to-top" style="display: inline;"><i
            class="medium material-icons">expand_less</i></a>

    <script src="/jquery.js"></script>
    <script src="/materialize.min.js"></script>
    <script src="/global.js"></script>
</body>

</html>